
/* Container for the hero image and overlays */
.heroImageWrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}


/* Red bar at the bottom of the hero image */
.redbar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background-color: #ff0000; /* Bright red color */
  z-index:0;
}



/* Gradient overlay */
.heroImageWrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background:linear-gradient(
    90deg,
    rgba(249, 115, 22, 0.8) 0%,
    rgba(251, 191, 36, 0.7) 100%
  );
    z-index: 1;
}

 /* Hero image styling */
.heroImage {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 600px;
  object-fit: contain;
  margin-bottom: -100px; /* removes extra gap FOR IMAGE */
  transform: scale(1.05); /* slight zoom */
  
}

